
body {
  font-family: 'Lato', sans-serif;
  /*background-color: #e8e8e8;*/
  color: #222831;
}

h1 {
  color: #f05454;
}

h5 {
  color: #30475e;
}

.header {
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.calculator {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.description {
  padding-top: 5rem;
  padding-bottom: 5rem;
  line-height: 2rem;
}

.footer {
  padding-top: 2rem;
}

@media screen and (max-width: 1000px){
    .footer p{
        text-align: center;
    }
}
