
body {
  font-family: 'Lato', sans-serif;
}

.header {
  padding-top: 3rem;
  padding-bottom: 5rem;
  text-align: center;
}

.calculator {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.description {
  padding-top: 5rem;
  padding-bottom: 5rem;
  line-height: 2rem;
}

.footer {
  padding-top: 2rem;
}
